---
layout: default
---

{% for post in paginator.posts %}
  <a href="{{ post.url }}">
    <h2 class="title pushtop">{{ post.title }}</h2>
  </a>
  <div class="row text-muted">
    <div class="col-xs-6">
      <p class="meta">
        <span class="fa fa-calendar"></span>&nbsp;
        {{ post.date | date: "%F %T %Z" }}
      </p>
    </div>
    <div class="col-xs-6">
      <ul class="list-inline meta">
        <span class="fa fa-tags"></span>&nbsp;
        {% for category in post.categories %}
        <li>
          <a href="/blog/categories/{{ category | slugify }}">
            {{ category | capitalize }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {{ post.content | emojify }}
{% endfor %}
{% include pager.html %}
