<hr />
<footer>
  <p>
    <span>
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img class="inline-image" alt="Creative Commons License" src="/images/cc.png" /></a>&nbsp; {{ site.time | date: "%Y" }} - {{ site.author }} - <span>Powered by <a href="http://jekyllrb.com/">Jekyll</a>.
    </span>
    <span class="pull-right">
      <a href="/atom.xml"><i class="fa fa-rss"></i>&nbsp;RSS Feed</a>
    </span>
</p>
</footer>
