{% if page.bg %}
  <header style="background-image: url(/images/{{page.bg}});">
{% else %}
  <header style="background-image: url(/images/bg.jpg);">
{% endif %}
  <span>
    {% if page.title %}
      <h1>{{ page.title }}</h1>
      <hr>
      <h4><a href="/">{{ site.name }}</a></h4>
    {% else %}
      <h1><a href="/">{{ site.name }}</a></h1>
      <h4>{{ site.description }}</h4>
    {% endif %}
    <a href="/"><img class="img-circle" src="/images/base.jpg" /></a>
  </span>
</header>
