<div class="visible-xs">
  <a class="btn form-control" role="button" data-toggle="collapse" href="#nav" aria-expanded="false" aria-controls="nav">
    <span class="sr-only">Toggle navigation</span>
    <span class="fa fa-bars"></span>
    <span> Navigation</span>
  </a>
  <nav id="nav" role="navigation" class="collapse">
    <ul class="nav nav-tabs nav-justified">
      {% for item in site.data.nav_items %}
        <li>
          <a href="{{ item.url }}">
            <i class="fa fa-{{ item.icon }}"></i>
            <span>{{ item.name }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
    <ul class="nav nav-tabs nav-justified">
      {% for item in site.data.social_items %}
        <li class="{{ item.style }}">
          <a href="{{ item.url }}">
            <i class="social fa fa-{{ item.icon }}"></i>
            <span>{{ item.name }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
<div class="hidden-xs">
  <nav id="nav" role="navigation">
    <ul class="nav nav-tabs nav-justified">
      {% for item in site.data.nav_items %}
        <li>
          <a href="{{ item.url }}">
            <i class="fa fa-{{ item.icon }}"></i>
            <span>{{ item.name }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
    <ul class="nav nav-tabs nav-justified">
      {% for item in site.data.social_items %}
        <li class="{{ item.style }}">
          <a href="{{ item.url }}">
            <i class="social fa fa-{{ item.icon }}"></i>
            <span>{{ item.name }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</div>
