<div class="row hidden-md hidden-lg">
  <div class="col-xs-12 col-sm-12">
    <ul class="list-unstyled list-inline text-center">
      {% for item in site.data.sidebar_items %}
        <li class="sidebar-buttons">
          <a href="{{ item.url }}" class="btn btn-sm btn-{{ item.style }} form-control">
            <i class="pull-left fa fa-2x fa-{{ item.icon }}"></i>
            <span class="button-text">{{ item.name }}</span>
          </a>
        </li>
      {% endfor %}
      {% for item in site.data.social_items %}
        <li class="sidebar-buttons">
          <a href="{{ item.url }}" class="btn btn-sm btn-{{ item.style }} form-control">
            <i class="pull-left fa fa-2x fa-{{ item.icon }}"></i>
            <span class="button-text">{{ item.name }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
