<div class="row text-center">
  <a href="/">
    <img class="img-circle header-picture" src="/images/base.jpg">
  </a>
</div>
<div class="row text-center">
  <h2 class="title"><a href="/">{{ site.name }}</a></h2>
  <h4 class="subtitle">{{ site.subtitle }}</h4>
</div>
{% include phone_nav.html %}
<hr>
<div id="sidebar" class="hidden-sm hidden-xs">
  <ul class="list-unstyled">
    {% for item in site.data.sidebar_items %}
      <li class="sidebar-buttons">
        <a href="{{ item.url }}" class="btn btn-sm form-control">
          <i class="pull-left fa fa-2x fa-{{ item.icon }}"></i>
          <span class="button-text">{{ item.name }}</span>
        </a>
        <br>
      </li>
    {% endfor %}
  </ul>
  <br />
  <br />
  <ul class="list-unstyled">
    {% for item in site.data.social_items %}
      <li class="sidebar-buttons">
        <a href="{{ item.url }}" class="btn btn-sm btn-{{ item.style }} form-control">
          <i class="pull-left fa fa-2x fa-{{ item.icon }}"></i>
          <span class="button-text">{{ item.name }}</span>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
