---
layout: default
title: "Blog Categories"
---

<ul>
  {% assign sorted_categories = site.categories | sort %}
  {% for category in sorted_categories %}
    <li><a href="{{ category[0] | slugify }}">{{ category[0] | capitalize }}</a> - {{ category[1].size }} Posts</li>
  {% endfor %}
</ul>
