@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html {
  font-family: 'montserratregular', sans-serif;
  background-color: #F5F5F5;
}

header {
  display: table;
  height: 300px;
  width: 100%;
  text-align: center;
  background-position: center center;
  background-size: cover;
  margin-bottom: 50px;
}
header span {
  position: relative;
  color: #FFFFFF;
  text-shadow: -1px -1px #000000,
               1px -1px #000000,
               -1px 1px #000000,
               1px 1px #000000;
  display: table-cell;
  vertical-align: middle;
  z-index: 999;
}
header span a {
  color: #FFFFFF;
}
header span hr {
  max-width: 50%;
  height: 1px;
  color: #FFFFFF;
  background-color: #FFFFFF;
}
header img {
  height: 100px;
  position: absolute;
  margin-top: 20px;
  margin-left: -50px;
}
nav {
  margin-bottom: 10px;
}
nav .keybase a {
  color: #ff6f21;
}
nav .mastodon a {
  color: #00086d;
}
nav .twitter a {
  color: #00acee;
}
nav .gitlab a {
  color: #707480;
}
footer p {
  margin-left: 25px;
  margin-right: 25px;
}
