/* Thanks WordPress! (http://codex.wordpress.org/Emoji) */

img.emoji {
  display: inline !important;
  border: none !important;
  box-shadow: none !important;
  height: 1em !important;
  width: 1em !important;
  margin: 0 .07em !important;
  vertical-align: -0.1em !important;
  background: none !important;
  padding: 0 !important;
}
/* Use Bootstrap stylings for old Octopress img classes, but also give some padding */
img.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
}
img.right {
  float: right !important;
  padding: 5px;
}
img.left {
  float: left !important;
  padding: 5px;
}
/* Thanks Twitter Bootstrap! */
.responsive {
  width: 100%;
}

/* Better looking kbd class */
/* Thanks Stack Overflow! (http://meta.superuser.com/questions/4788/css-for-the-new-kbd-style) */
kbd {
  -moz-border-radius:3px;
  -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  -webkit-border-radius:3px;
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  background-color:#f7f7f7;
  border:1px solid #ccc;
  border-radius:3px;
  box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  color:#333;
  display:inline-block;
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  line-height:1.4;
  margin:0 .1em;
  padding:.1em .6em;
  text-shadow:0 1px 0 #fff;
}
