---
layout: default
title: Blog Archives
---
<ul class="posts">
  {% for post in site.posts %}
    <li>
    <span>
      {{ post.date | date: "%F %T %Z" }}
    </span>
    &raquo;
    <a href="{{ post.url }}">
      {{ post.title }}
      </a>
    </li>
  {% endfor %}
</ul>
