<!DOCTYPE html>
<html>
  {% include head.html %}
    <body>
      {% include header.html %}
      {% include nav.html %}
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          {{ content | emojify }}
        </div>
      </div>
      {% include footer.html %}
    </body>
</html>
