---
layout: default
---
<div class="row text-muted">
  <div class="col-xs-6">
    <p class="meta">
      <span class="fa fa-calendar"></span>&nbsp;
      {{ page.date | date: "%F %T %Z" }}
    </p>
  </div>
  <div class="col-xs-6">
    <ul class="list-inline meta">
      <span class="fa fa-tags"></span>&nbsp;
      {% for category in page.categories %}
        <li>
          <a href="/blog/categories/{{ category | slugify }}">
            {{ category | capitalize }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{ content | emojify }}
  </div>
</div>
